/* Table.css */

.todo {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta la altura total según tus necesidades */
  }
  
  .nav {
    background-color: #f8f9fa; /* Color de fondo del nav */
    padding: 10px; /* Ajusta el espacio interno según tus necesidades */
    border-bottom: 1px solid #dee2e6; /* Línea divisoria inferior */
  }
  
  .cards {
    flex-grow: 1; /* Ocupa el espacio restante */
    padding: 20px; /* Ajusta el espacio interno según tus necesidades */
  }
  